---
title: Home Page
layout: default
---
<!-- <div>
    {% include header.html %}
</div>

<section class="">
    {% include hero.html %}
</section> -->

<section>
    {%- include upcomming/header.html -%}
</section>

<section class="bg-gray p-md-3 my-5">
    {%- include upcomming/carousel.html -%}
</section>

<main class="my-5">
    {% include wwdo.html -%}
</main>

<section class="bg-gray p-3">
    {% include gallery.html %}
</section>

<section class="my-5">
    {%- include map.html -%}
</section>

<footer>
    {%- include footer.html -%}
</footer>
