<div class="p-5 my-5">
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="/assets/img/learnimg.jpg" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="/assets/img/learnimg.jpg" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="/assets/img/landimg.jpg" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="/assets/img/landimg.jpg" class="d-block w-100 img-fluid" alt="...">
          </div>
        </div>
    </div>
</div>