<div class="p-3 my-5">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% assign counter = 0 %}
      {%- for post in site.posts -%}
        {% assign counter = counter | plus:1 %}
       
        <div class="carousel-item {{}} {%- if counter ==1 -%}
          active
        {%- endif -%}">
          <div class="m-md-3">
            <div>
              <div class="fw-bold inc-height">
                <!-- <div class="text-center m-3">
                  <img src="/assets/img/vision.svg" alt="" style="width: 18rem;">
                </div> -->
                <div class="text-center inc-margin">
                    <h5 class="card-title display-5 fw-bolder"> {{ post.title }} </h5>
                    <p class="card-text"> {{post.excerpt }}</p>
                    <a href="{{post.url}}" class="btn btn-danger m-3">{{ "readmore" | upcase}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
