<header>
   <div>
    {%- include upcomming/navbar.html -%}
   </div>
    <!--========================HERO PAGE =====================-->
    <div id="heropage">
        <div>
            <div class="row">
                <div class="col-12 col-md-3 text-center text-md-end">
                    <img class="img-fluid mt-5" src="/assets/img/fish1.svg" alt="catfish">
                </div>
                <div class="col-12 col-md-6 container text-center">
                    <h1 class="fw-bold display-3 p-2
                     p-md-5"><span class="first">Your number</span> <span class="caro">one stop shop </span> <span class="second">for all fish farming needs. </span></h1>
                </div>
                <div class="col-3 text-start">
                    <img class="img-fluid mt-5 d-none d-md-block" src="/assets/img/fish2.svg" alt="catsfish">
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <div class="d-flex align-items-center justify-content-center">
            <div class="bi bi-chevron-double-down fs-3 mx-2 aan bounce"></div>
            <div class="text-danger fw-bold">Discover More</div>
        </div>
    </div>
</header>
