<div class="text-center text-white bg-dark">
      
    <div class="container">
        
        <section class="">
          
          <div class="row text-center d-flex justify-content-center pt-2">
            
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#" class="text-danger">Home</a>
              </h6>
            </div>
    
  
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-danger">Gallery</a>
              </h6>
            </div>
  
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-danger">Contact</a>
              </h6>
            </div>
          </div>
        </section>
  
        <hr class="my-2" />
  
        <section class="mb-2">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="justify-content-between mb-2 py-2">
                    <div class="text-white mb-3">
                        <div class="mb-3 fw-bold">
                            <span>
                                <i class="bi bi-telephone-fill" style="font-size: 20px;"></i>
                            </span>
                            <a href="tel:+233554243932" class="text-decoration-none text-white"><span>+ 233 554 243 932</span> </a>
                        </div>
                        <div class="fw-bold">
                            <a href="mailto:gihostraining@gmail.com" class="text-decoration-none text-white">githostraining@gmail.com</a>
                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col px-2">
                                <a href="https://web.facebook.com/EENcatfishhub/" target="_blank" class="text-decoration-none text-white">
                                    <i class="bi bi-facebook" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                            <div class="col px-2">
                                <a href="#" class="text-decoration-none text-white">
                                    <i class="bi bi-tiktok" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                            <div class="col px-2">
                                <a href="https://wa.me/233554243932" class="text-decoration-none text-white">
                                    <i class="bi bi-whatsapp" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                
                            <div class="col px-2">
                                <a href="#" class="text-decoration-none text-white">
                                    <i class="bi bi-instagram" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
    </div>
      

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
         &copy; copyright <a class="text-danger text-decoration-none" href="/"> EEN FISH FARM </a> All right reserved.
    </div>
</div>