<div class="text-center text-white bg-dark">
      
    <div class="container">
        
        <div class="py-5">
          
          <div class="row text-center justify-content-center">
            
            <div class="col">
              <h6 class="text-uppercase">
                <a href="/" class="text-danger fw-bold text-deco">Home</a>
              </h6>
            </div>
    
  
            <div class="col">
              <h6 class="text-uppercase">
                <a href="/about" class="text-danger text-deco fw-bold">About us</a>
              </h6>
            </div>
  
            <div class="col">
              <h6 class="text-uppercase">
                <a href="/announcement" class="text-danger fw-bold text-deco">Announcement</a>
              </h6>
            </div>
          </div>
        </div>

        <hr>

        <div class="">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="justify-content-between">
                    <div class="text-white">
                        <div class="fw-bold">
                            <span>
                                <i class="bi bi-telephone-fill" style="font-size: 20px;"></i>
                            </span>
                            <a href="tel:+233554243932" class="text-decoration-none text-white"><span>+ 233 554 243 932</span> </a>
                        </div>
                        <div class="fw-bold">
                            <a href="mailto:gihostraining@gmail.com" class="text-decoration-none text-white">githostraining@gmail.com</a>
                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <a href="https://web.facebook.com/EENcatfishhub/" target="_blank" class="text-decoration-none text-white">
                                    <i class="bi bi-facebook" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://www.tiktok.com/@een_fish_farms" class="text-decoration-none text-white">
                                    <i class="bi bi-tiktok" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://wa.me/233554243932" class="text-decoration-none text-white">
                                    <i class="bi bi-whatsapp" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                
                            <div class="col">
                                <a href="#" class="text-decoration-none text-white">
                                    <i class="bi bi-instagram" style="font-size: 2.5rem"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
      

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
         &copy; <a class="text-danger text-decoration-none" href="/"> EEN FISH FARM </a> {{ "now" | date: "%Y" }} All right reserved.
      <div>powered by <a href="https://github.com/kwamea236" class="text-decoration-none text-white" target="_blank">Deligent</a> </div>
    </div>
</div>
