<section>
    <div class="p-3">
        <div class="text-center">
            <h2 class="fw-bold fs-1">OUR FARM</h2>
        </div>
        <div class="container text-center">
            <div class="btn-group" role="group">
                <button class="btn btn-danger fw-bold" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="true" aria-controls="collapse1">
                    {{"fishes"}}
                </button>
                
                <button class="btn fw-bold" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="collapse2">
                    {{ "videos" }}
                </button>
                
                <button class="btn btn-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="collapse2">
                    {{"Others"}}
                </button>
            </div>
        </div>
    
        <div class="collapse show multi-collapse">
            <div class="container text-center">
                <h4 class="fw-bold my-3">{{ "our fishes" | upcase}}</h4>
              <div class="row">
                <div class="col-12 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img1.jpg" alt="photo from fish farm">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img2.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img3.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-12 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img4.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img5.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img6.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-12 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img7.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img8.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img9.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img10.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail my-2" src="/assets/img/img11.jpg" alt="catfishes" loading="lazy">
                </div>
              </div>
            </div>
        </div>
    
        <div class="collapse multi-collapse" id="">
            <div class="container text-center">
                <h4 class="fw-bold my-3">{{"video of our farms" | upcase}}</h4>
              <div class="row">
                <div class="col-12 col-md-4 mx-1">
                    <iframe width="300" height="300" src="https://www.youtube.com/embed/toRRBMNSFvs?si=dc6GBZUi-SWA1bQF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-4">
                    <iframe width="300" height="300" src="https://www.youtube.com/embed/5csrlCePHIk?si=u54xRx0F4rKHjcd2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-4">
                    <!-- <iframe width="560" height="315" src="https://www.youtube.com/shorts/bU_ZBW6nFD0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
