<section>
    <div class="p-3">
        <div class="text-center mb-3">
            <h2 class="fs-1" data-aos="fade-down-left">OUR FARM</h2>
        </div>
        <div class="container text-center mb-5">
            <div class="btn-group" role="group" data-aos="fade-down-left">
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="true" aria-controls="collapse1">
                    {{"fishes"}}
                </button>
                
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="collapse2">
                    ponds
                </button>
                
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="collapse2">
                    others
                </button>
            </div>
        </div>
    
        <div class="collapse show multi-collapse" id="">
            <div class="container text-center">
                <h4 class="fw-bold mb-3" data-aos="fade-down-left">{{ "our fishes" | upcase}}</h4>
              <div class="row">
                <div class="col-12 col-md-3">
                    <!-- <blockquote class="tiktok-embed img-thumbnail" cite="https://www.tiktok.com/@een_fish_farms/video/7301422162584374533" data-video-id="7301422162584374533" style="max-width:605px; min-width:325px;" > 
                        <section> 
                            <a target="_blank" title="@een_fish_farms" href="https://www.tiktok.com/@een_fish_farms?refer=embed">@een_fish_farms</a> 
                            <a title="farming" target="_blank" href="https://www.tiktok.com/tag/farming?refer=embed">#farming</a>
                            <a title="fingerlings" target="_blank" href="https://www.tiktok.com/tag/fingerlings?refer=embed">#fingerlings</a> 
                            <a title="travelingsaleswoman" target="_blank" href="https://www.tiktok.com/tag/travelingsaleswoman?refer=embed">#travelingsaleswoman</a> 
                            <a title="catfish" target="_blank" href="https://www.tiktok.com/tag/catfish?refer=embed">#catfish</a> 
                            <a title="fish" target="_blank" href="https://www.tiktok.com/tag/fish?refer=embed">#fish</a> 
                            <a title="aquaculture" target="_blank" href="https://www.tiktok.com/tag/aquaculture?refer=embed">#aquaculture</a> 
                            <a target="_blank" title="♬ original sound - Zion&#39;s Gospel Corner" href="https://www.tiktok.com/music/original-sound-7277875368233863942?refer=embed">♬ original sound - Zion&#39;s Gospel Corner</a> 
                        </section> 
                    </blockquote>
                    <script async src="https://www.tiktok.com/embed.js"></script> -->
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img2.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img3.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img4.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img5.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img6.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img7.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img8.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img9.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img10.jpg" alt="catfishes" loading="lazy">
                </div>
                <div class="col-6 col-md-3">
                    <img class="img-thumbnail" src="/assets/img/img11.jpg" alt="catfishes" loading="lazy">
                </div>
              </div>
            </div>
        </div>
    
        <div class="collapse multi-collapse" id="">
            <div class="container text-center">
                <h4 class="fw-bold">{{"Ponds we work on"}}</h4>
              <div class="row">
                <div class="col-6 col-md-4">
                    <img class="img-thumbnail" src="https://images.unsplash.com/photo-1628859742240-269783f56d17?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="fish ponds" loading="lazy">
                </div>
                <div class="col-6 col-md-4">
                    <img class="img-thumbnail" src="https://images.unsplash.com/photo-1628859742240-269783f56d17?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="fish pond" loading="lazy">
                </div>
                <div class="col-6 col-md-4">
                    <img class="img-thumbnail" src="https://images.unsplash.com/photo-1628859742240-269783f56d17?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80" alt="fish pond" loading="lazy">
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
