<div class="p-5 text-center bg-light hero">
    <div class="overlay">
        <h1 class="mt-5 mb-3 text-white display-2 fw-bold tipe">
            <span class="typer"
            data-timer="200"
            data-words='["Welcome to the official website for Een fish farm"]'></span>
        </h1>
        <h4 class="mb-3 text-white">we are your number stop shop for catfishes</h4>
    </div>

    <div class="my-5 align-items-center justify-content-center">
        <a href="tel:+233554243932" type="button" class="btn btn-danger w-auto fw-bold mx-2"> {{"+233 554 243 932"}} </a>
        <a href="tel:+233554243932" type="button" class="btn btn-danger w-auto fw-bold"> {{"contact us" | capitalize }} </a>
    </div>
</div>
