<div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-md-5 pt-md-5 text-center">
                <img class="mt-3" style="width: 400px;" src="/assets/img/about.svg" alt="A person in front of a desk">
            </div>
            <div class="col-12 col-md-6 p-3">
                <h2 class="fw-bold display-5 text-center text-uppercase">About Us</h2>
                <p class="text-start">
                    Hey there! At EEN Fish Farms, we're all about making a splash in the fish farming world! 🐟💦 We've got a lot to offer, so let me tell you all about it!
                    First off, we're proud to provide top-notch catfish fingerlings for all your fish farming needs. Whether you're starting a new farm or expanding your existing one, our high-quality fingerlings will give you a great head start. 🐠👶
                    But that's not all! We also offer training programs for aspiring fish farmers. Our experienced team will teach you the ins and outs of fish farming, from pond management to feeding techniques. You'll be a pro in no time! 🎓🐟
                    And hey, we know that having the right tools is essential for success. That's why we've got you covered there too! We offer a range of fish farming tools and equipment to make your work easier and more efficient. From nets to aerators, we've got everything you need to keep your fish happy and healthy. 🛠️🐠
                    So whether you're in need of fingerlings, looking to learn the ropes of fish farming, or searching for the right tools, EEN Fish Farms is here for you. Let's dive into the world of fish farming together! 🌊
                </p>
                <div class="mb-5">
                    <button class="btn btn-danger">contact us</button>
                </div>
            </div>
        </div>
    </div>
</div>