<div class="">
    <div class="">
        <div class="row">
            <div class="col-12 col-md-6 mt-md-5 pt-md-5 text-center">
                <img class="mt-3 img-fluid" src="/assets/img/about.svg" alt="A person in front of a desk">
            </div>
            <div class="col-12 col-md-6">
                <div class="mt-5">
                    <h3 class="fw-bold text-center text-uppercase">About Us</h3>
                </div>
                <div class="container">
                    <p class="lh-base">Hey there welcome to EEN Fish Farms, we're your goto source for all things fish farming.</p>
                    <p class="lh-base">
                        we specialize in providing top-quality fingerlings to help kickstart your fish farming journey.
                    </p>
                    <p>
                        And that's not all we've got everything you need to make your farm thrive from equipement to supplies.
                    </p>
                    <p>
                        So whether you're a seasoned fish farmer or just starting out EEN Fish Farms has got your back.
                    </p>
                    <p>let's make a splash together.</p>

                    <div class="my-5">
                        <button class="button">contact us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>