<div>
    <div class="container">
        <div class="row">
            <div class="col my-5 text-center">
                <img style="width: 500px;" src="/assets/img/about.svg" alt="A person in front of a desk">
            </div>
            <div class="col my-5">
                <h2 class="fw-bold display-3 text-center text-uppercase">About Us</h2>
                <p style="line-height: 250%;" class="text-uppercase text-center">
                    ENN FISH FARM is a company with highly skilled personnel in the raising of catfishes. Our farmers go through all the respective stages to make sure fishes produced are of high quality standard. we have a reputation of having to producing the best fishers on the market
                </p>
                <div class="">
                    <div class="d-flex">
                        <i class="bi bi-geo-alt-fill" style="font-size:2rem ;"></i>
                        <p>We are located in winneba</p>
                    </div>
                    <button class="btn btn-danger">contact us</button>
                </div>
            </div>
        </div>
    </div>
</div>