<div>
    <div class="about-container">
        <img src="https://images.unsplash.com/photo-1560675012-71cdad5fdd05?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="people" style="height: 500px; width: fit-content;">
        <h1 class="centered fw-bold display-5">ABOUT US</h1>
    </div>
    
    <div class="my-5">
        <div>
            <div class="text-center">
                <img src="/assets/img/partner.webp" alt="people greeting">
            </div>
            <div class="container text-center my-3">
                <p class="fw-light">
                    Hey there welcome to EEN Fish Farms, we're your goto source for all things fish farming. we specialize in providing top-quality fingerlings to help kickstart your fish farming journey. And that's not all we've got everything you need to make your farm thrive from equipement to supplies. So whether you're a seasoned fish farmer or just starting out EEN Fish Farms has got your back. let's make a splash together
                </p>
            </div>
        </div>

        <div>
            <div class="text-center">
                <i class="bi bi-eye-fill display-1"></i>
            </div>

            <div class="container text-center mt-3">
                <h2 class="fw-bold">{{"mission" | upcase}}</h2>
                <p class="my-3">
                    our mission is to blossom into a web house of aquaculture products providers and ensuring high quality fish seeds at affordable rates to meet demands of farmers.
                </p>
            </div>
        </div>

        <div>
            <div class="text-center">
                <i class="bi bi-bullseye display-1 text-danger"></i>
            </div>
            <div class="container text-center my-5">
                <h2 class="fw-bold">{{"vision" | upcase}}</h2>
                <p>
                    Our vision is to go into partnership with either up and growing fish farmers in other to have a continous supply of produce to meet acquacultral needs both locally and globally.
                </p>
            </div>
        </div>

    </div>
</div>