@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.playsc{
    font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display SC', serif;
}

html,body{
    overflow-x: hidden;
}

.icon{
    width: 40px;
}

.hero {
    height: 580px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #C04848;
    background: linear-gradient(rgb(0,0,0,0.8), rgb(0,0,0,0.8)), url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgb(0,0,0,0.8), rgb(0,0,0,0.8)), url("/assets/img/img11.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
}

.mt-n1{
    margin-top: -1.4rem !important;
}

.link-dec{
    text-decoration: none;
    color: black;
}

.text-deco{
    text-decoration: none;
}

.button{
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    padding: .75rem 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: #ffff;
    transition: all .2s ease-in-out;
    background-color: #c92020;
    border: 1px solid #0f0f0f;
    box-shadow: 6px 6px 0 #0f0f0f;
    border-radius: 4px;
    position: relative;
    top: -6px;
    left: -6px;
}

.button:hover{
    position: relative;
    top: -4px;
    left: -4px;
    box-shadow: unset;
}

#content-container{
    padding: 0 60px;
}

.bg-gray{
    background-color: rgb(17, 17, 17);
    color: white;
}

#post li{
    border: 1px solid rgb(216, 216, 216);
    padding: 9px;
    margin-left: -26px;
    list-style: none;
}

#post li a{
    text-decoration: none;
    color: black;
}

#header, #mainn{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: min(100%, 45.5rem );
    margin-bottom: 3rem;
    margin-top: 2rem;
}

#mainn p{
    line-height: 2.5;
}

#mainn p span{
    font-weight: bolder;
}

.fadein{
    animation: fadeIn 0.5s ease-in;
}

.addcolor{
    background-color: red;
    color: white;
    animation: fadeIn 0.5s ease-in;
}

.first{
    color: white;
}

.second{
    color: white;
}

.addFirst{
    animation: fadeIn 0.5s ease-in;
    color: black;
}

.addSecond{
    animation: fadeIn 0.5s ease-in;
    color: black;
}

.fade-in-item{
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ani{
    position: relative;
}

.ani::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d10a0a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .ani:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.aan{
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce{
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.caro{
    display: block;
}

#carousel-id li{
    list-style: none;
}

.about-container{
    position: relative;
    text-align: center;
}

.centered{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    color: black;
}

.inc-height{
    height: 470px;
}

.inc-margin{
    margin-top: 50px;
}