<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "een fish farms" | upcase }} | {{ page.title }}</title>
    <!--===== Primary Meta Tags =====-->
    <meta name="title" content="{{site.title}}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <!-- ===== End of primary meta tags =====-->

    <!-- ===== Open Graph / Facebook =====-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.eenfishfarm.com">
    <meta property="og:title" content="Een fish farms">
    <meta property="og:description" content="{{ site.description }}">

    <!-- ===== Twitter =====-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.eenfishfarm.com">
    <meta property="twitter:title" content="Een fish farms">
    <meta property="twitter:description" content="{{ site.description }}">

    <link rel="shortcut icon" href="/assets/img/icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    
    <main>
        {{ content }}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/index.js"></script>
</body>
</html>